<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Ninja Blog</strong>
        <br />
        por <a href="http://medium.com/@papito">Fernando Papito</a> <a class="icon" href="https://github.com/papitoio">
          <i class="fa fa-github"></i>
        </a>
      </p>
      <p>
        <strong>Projeto utilizado para o treinamento:</strong><br /><a href="http://qaninja.com.br/jenkins.html" target="_blank">Jenkins for Testers</a>
      </p>
    </div>
  </div>
</footer>