<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <a [routerLink]="post.router">
        <img src="https://robohash.org/sitsequiquia.png?size=1280x960" alt="Image" />
      </a>
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <h2 class="title is-4"><a [routerLink]="post.router">{{ post.title }}</a></h2>
      </div>
    </div>

    <div class="content">
      <div [innerHTML]="post.body">
        <!-- aqui vira o conteudo de post.body -->
      </div>
      <br>
      <small>Criado em: {{ post.created_date }}</small>
    </div>
  </div>
</div>